node_modules
dist
.DS_Store
*.log
*.bak

# Playwright test results and reports
test-results/
playwright-report/
public/workout-plan-v2.1.json
public/workout-plan-v2.2.json
public/workout-plan-v2.3.json
